.jumbotron{
	background: #9575CD;
}
.footer{
	background:#d1c4e9;
}
.row-content{
	border-bottom: 1px ridge;
}
.row-body1{
	min-height: 400px;
}
.row-body2{
	min-height: 600px;
}
body{
	padding:50px 0px 0px 0px;
	z-index: 0;
}
.navbar-inverse{
	background-color: #512DA8;
}